# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# SQLite temporary files
*.db-journal
*.db-wal
*.db-shm

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
